*  {
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    font-family: "Open Sans"
    system-ui
    -apple-system
    "Segoe UI"
    Roboto
    "Helvetica Neue"
    Arial
    "Noto Sans"
    "Liberation Sans"
    sans-serif
    "Apple Color Emoji"
    "Segoe UI Emoji"
    "Segoe UI Symbol"
    "Noto Color Emoji";
}
#home{
    display: flex;
    flex-wrap: wrap;
}
#home i{
    font-size: 25px;
    margin-left: 28%;
}
#home .nav{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 100%;
   padding-block: 20px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 98;
}
h1{
    margin-right: 450px;
    font-size: 32px;
    font-weight: 700;
    margin-left: 100px;
}
h1::after{
    content: ".";
    color: red;
}
.nav a{
    margin-right: 15px;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    transition:all;
    transition-duration: 2s;
}
.nav a:hover{
   text-decoration: underline 2px #D62B2B;
}
.nav-img{
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
#home h2{
    font-size: 65px;
    font-weight: 700;
    font-family: Amatic sc;
}
#home .nav-img .lo{
   padding-top: 150px;
}
#home img{
    width: 530px;
    height: 530px;
    padding: 50px 65px;
    margin-right: -35px;
    margin-left: 50px;
    transition: all;
    transition-duration: 1s;
}
#home .nav-img img:hover{
transform:rotate(10deg) translate(2.6px) ;
}
#home .nav-img p{
    font-size: 19px;
    font-weight: 400;
    line-height: 25.6px;
    font-family: "Open Sans"
    system-ui
    -apple-system
    "Segoe UI"
    Roboto
    "Helvetica Neue"
    Arial
    "Noto Sans"
    "Liberation Sans"
    sans-serif
    "Apple Color Emoji"
    "Segoe UI Emoji"
    "Segoe UI Symbol"
    "Noto Color Emoji";
}
#home .nav-img button{
    color: white;
    background-color: #E61414;
    padding: 10px 25px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    margin-top: 25px;
    font-size: 15px;
}
#home .nav-img i{
    font-size: 24px;
    width: 50px;
}
#chef{
    text-align: center;
    margin-top: 100px;
}
#chef P{
    font-size: 14px;
    font-weight: 400;
}
#chef h2{
    font-size: 50px;
    font-family: Amatic sc;
    font-weight: 400;
    margin: 5px;
}
#chef span{
    color: #E27272;
}
.chefs{
    display: flex;
    justify-content: center;
    /* margin: auto; */
}
.chefs div{
    width: 29.333%;
    margin: 50px 10px;
    border: #EEEEEE 1px solid;
    border-radius: 5px;
    transition: all 1s;
    transform-style: initial;
    position: relative;
    margin: bottom 50px; ;
    /* margin-left: 5px; */
}
.chefs div img{
    width: 100%;
    height: 416px;
    height: 80%;
    border-radius: 5px;
}
.chefs .willam ::after{
    content: "";
    background-image:url(../ssssssss.PNG);
    background-repeat: no-repeat;
    background-size: cover;
width: 100%;
height: 50px;
position: absolute;
top: 386px;
left: 0;
}
.chefs .walter ::after{
    content: "";
    background-image:url(../wad.PNG);
    background-repeat: no-repeat;
    background-size: cover;
width: 100%;
height: 50px;
position: absolute;
top: 386px;
left: 0;
}
.chefs .sarah ::after{
    content: "";
    background-image:url(../Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
width: 100%;
height: 50px;
position: absolute;
top: 386px;
left: 0;
}
.chefs div:hover{
    transform: scale(1.05);
}
    
#chef h3{
    font-size: 18.72px;
    font-weight: 700;
    font-family: inter;
}
#gallary{
    background-color: #EEEEEE;
   text-align: center;
   margin-top: 50px;
}
#gallary p{
padding-top: 100px;
font-size: 14px;
font-weight: 400;
font-family: Inter;
}
#gallary h2{
    font-size: 50px;
    font-family: Amatic SC;
    font-weight: 400;
}
#gallary span{
    color: #E27272;
}
#gallary .all{
    background-color: #EEEEEE;
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    margin-inline: auto;
}
#gallary .all div{
    width: 33.33%;
    display: flex;
    flex-direction: column;
padding-right: 15px;
}
#gallary div img{
    width: 100%;
    height: 48%;
    margin-bottom: 15px;
    /* box-sizing: border-box; */
    border: white solid 5px;
}
#gallary .all .sec{
    height:130%;
}
#contact{
    padding-inline: 6%;
    background-color: #FFFFFF;
}
#contact .lop{
    text-align: center;
}
#contact h4{
    margin-top: 100px;
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
}
#contact .lok .ico{
    display: flex;
    background-color: #CE1212;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 25px;
}
#contact .lok div{
    width: 48%;
    margin: 10px;
    height: 100px;
    background-color: #F5F5F5;
}
#contact .lok div h3{
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 5px;
}
#contact .lok {
    display: flex;
    flex-wrap: wrap;
}
iframe{
    margin-left: 250px;}
#contact .for{
    width: 100%;
    background-color: white;
    text-align: center;
}
form input{
    width: 96.5%;
    height: 45px;
    margin: 10px 5px;
}
#contact button{
    background-color: #E11414;
    width: 170px;
    height: 50px;
    padding: 15px 25px;
    color: white;
    border-radius: 55px;
    font-size: 15px;
    font-weight: 400;

}
#contact h2{
    font-size: 50px;
    font-family: Amatic SC;
    font-weight: 400;
}
#contact span{
    color: #E27272;
}
.footer{
    display: flex;
    margin: 50px 0 0;
    /* padding-inline: 5%; */
    background-image: url(../img/textured-metal-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 200px; */
}
.footer img{
    width: 100%;

}
/* #contact .lok div{
    display: flex;
} */